week-2-workflow-orchestratration/main_flow_gcp_ingestion_green_yellow_2021_taxi.yml
id: main_process_green_yellow_2021_taxi
namespace: zoocamp
description: |
  Main flow where we loop our tasks in grouped flows.

tasks:
  - id: generate_combinations
    type: io.kestra.plugin.scripts.python.Script
    warningOnStdErr: false
    outputFiles:
      - "combinations.json"
    script: |
      import json
      from kestra import Kestra

      # Define the combinations
      taxi_types = ["green", "yellow"]
      months = [f"{month:02d}" for month in range(1, 8)]  # Generate "01" to "07"

      # Generate the combinations
      combinations = [{"taxi": taxi, "month": month} for taxi in taxi_types for month in months]
      combinations={"all_combinations" : combinations}

      Kestra.outputs(combinations)

  - id: run_gcp_ingestion_for_each_combination
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{render(outputs.generate_combinations.vars.all_combinations) | json }}"
    tasks:
      - id: subflow_run
        type: io.kestra.plugin.core.flow.Subflow
        flowId: subflow_gcp_etl
        namespace: zoomcamp

        wait: true
        inputs:
          taxi: "{{ taskrun.value | jq('.taxi') | first }}"
          year: "2021"
          month : "{{ taskrun.value | jq('.month') | first }}"

